* {
  box-sizing: border-box;
}

@media only screen and (max-width: 620px) {

  /* Para celulares móviles: */
  .menu,
  .main,
  .right {
    width: 100%;
  }
}

body {
  margin: 0;
  font-family: "Inria Sans-Bold", Helvetica;
  height: 100%;
  position: absolute;
  background-color: white;
  width: 100%;
}

div .container {
  height: 100%;
}

.profesionales {
  top: 10px;
  width: 100%;
  right: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

h1 .modal-title{
  position: relative;
  left: 25%;
}

.logo {
  width: 50px;
  height: 50px;
}

.encabezado {
  background-color: #cdceed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(0, 0, 0);
  padding: 10px;
  margin: auto;
  text-align: center;
}

footer {
  background-color: #cdceed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0px;
  right: 0px;
  height: 80px;
  padding: 10px;
  margin-top: 10px;
  position: absolute;
  width: 100%;
}

/* OK */
footer p {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/* OK */
.left {
  margin: 0;
}

/* OK */
.right {
  display: flex;
  gap: 10px;
}


.redes {
  height: 50px;
  margin-right: 5px;
  margin-left: 5px;
  align-self: left;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode-toggle {
  align-self: flex-end; /* Ubica el interruptor en la esquina inferior derecha */
  margin: 10px; /* Agrega un margen para mayor espacio */
}

.dark-mode-toggle label {
  margin-right: 8px;
  cursor: pointer; /* Hacer que el label sea clickeable */
}
.content {
  flex: 1; /* Esto hace que el contenido ocupe el espacio restante */
}